.container {
  width: 100%;
  min-height: 100vh;
  padding: 2rem;

  display: flex;
  justify-content: center;   /* CENTER horizontally */
  align-items: center;       /* CENTER vertically */
}

.mainContainer {
  width: 100%;
  max-width: 1200px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 3rem;
}

.mainContainer__left {
  flex: 0.5;
}

.mainContainer__right {
  flex: 0.5;

  display: flex;
  justify-content: center;
}


.mainContainer__left> p:nth-child(1){
  font-size: 2.9rem;
  background: -webkit-linear-gradient(45deg,#000000,#9d9d9d);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animationHomePageBreathEffect 1s infinite linear;
}
@keyframes animationHomePageBreathEffect{
  0%{
    background: -webkit-linear-gradient(45deg,#000000,#9d9d9d);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100%{
    background: -webkit-linear-gradient(45deg,#9d9d9d,#000000);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.mainContainer__left> p:nth-child(2){
  font-size: 1.7rem;
  color: #4d4d4d;
}

.mainContainer__left>div.buttonJoin{
  width: fit-content;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s;
  margin-top: 0.8rem;
  font-size: 1.4rem;
  
  background: #0070f3;
  color: white;
  padding-inline :1.2rem;
  padding-block :0.8rem;
  border-radius: 20px;
  border: none;
  
}