.homeContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.homeContainer>div:nth-child(odd){
    flex: 0.2;
}
.homeContainer>div:nth-child(even){
    flex: 0.6;
}
.homeContainer__leftBar{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: start;
}
.sideBarOption{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    gap: 1.2rem;
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.2ms;
}
.sideBarOption:hover{
    transform: scale(1.03);
}
.sideBarOption svg {
    width: 24px;
    height: 24px;
    min-width: 24px; 
}