.createPostContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
  background: rgb(255, 246, 246);
  border: 1px solid #ddd;
  border-radius: 20px;
  position: relative;
}

.userProfile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.createPostContainer textarea {
  flex: 1;
  resize: none;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 6px;
}

.Fab svg {
  width: 30px;
  cursor: pointer;
}

.Fab{
    background: silver;
    border-radius: 100%;
    justify-content: center;

}
.textarea{
    width:80%;
    height: 70%;
    border: 1px solid silver;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-inline: 1.5rem;
    padding-block: 0.8rem;
    outline: none;
}

.uploadButton{
   position: absolute;
   right: 0;
   bottom: -45px;
   color: white;
   background: #4c4cff;
   border-radius: 10px;
   padding-inline: 1.5rem; 
   padding-block: 0.8rem;
   cursor: pointer;
}